@model IEnumerable<DOAN_THWEB_NC.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách sản phẩm</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Điện thoại
        </th>
        <th>
            Giá sản phẩm
        </th>
        <th>
           Hình ảnh
        </th>
        
        <th>
            Trạng thái
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Hãng điện thoại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameProduct)
        </td>
        <td>
            <p class="m-0">@string.Format("{0:#,#}", item.UnitPrice).Replace(",", ",") VND</p>        
        </td>
        <td>
            <img src="@Url.Content(item.Images)" style="width:120px;"/>
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.NameCategory)
        </td>
        <td>
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                <a href="@Url.Action("Edit", new {  id=item.IDProduct })">
                    <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa"><i class="fa fa-edit"></i></button>

                </a>

                </li>
                <li class="list-inline-item">
                    <a href="@Url.Action("Details", new {  id=item.IDProduct })">
                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Chi tiết"><i class="fa fa-table"></i></button>
                </a>
                </li>
                <li class="list-inline-item">
                    <a href="@Url.Action("Delete", new {  id=item.IDProduct })">
                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Xóa"><i class="fa fa-trash"></i></button>
                </li>
            </ul>
        </td>
    </tr>
}

</table>
