@model IEnumerable<DOAN_THWEB_NC.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Điện thoại
        </th>
        <th>
            Giá cả
        </th>
        <th>
           Hình ảnh
        </th>
        
        <th>
            Trạng thái
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Hãng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            <img src="@Url.Content(item.Images)" style="width:120px;"/>
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.NameCategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDProduct }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDProduct }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDProduct })
        </td>
    </tr>
}

</table>
