@model DOAN_THWEB_NC.Models.Cart
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowCart</h2>
@if(Model!=null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Sum</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.Items)
                        {
                            double total =Convert.ToDouble( item._shopping_product.UnitPrice.Value * item._shoppping_quantity);
                            <tr>
                                <td>
                                    @Html.DisplayFor(model=>item._shopping_product.NameProduct)
                                </td>
                                <td>
                                    <img src="@Url.Content(item._shopping_product.Images)"style="width:100px;height:100px" />
                                </td>
                                <td>
                                    @Html.DisplayFor(model=>item._shopping_product.UnitPrice)
                                </td>
                                <td>
                                    @using (Html.BeginForm("Update_Quantity_Cart", "ShoppingCart"))
                                    {
                                        <input type="hidden" value="@item._shopping_product.IDProduct" name="ID_Product" />
                                        <input type="number" value="@item._shoppping_quantity" name="Quantity" />
                                        <input type="submit" value="Update Quantity" />
                                    }

                                </td>
                                <td>
                                    Total: @total
                                </td>
                                <td>
                                    <a href="/ShoppingCart/RemoveCart/@item._shopping_product.IDProduct">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="4" style="text-align:center">
                                @using (Html.BeginForm("Checkout","ShoppingCart"))
                                {
                                <table style="border-collapse:separate;border-spacing:5px;">
                                    <tr>
                                        <td>Name: </td>
                                        <td><input type="text" name="Name_User" required/></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Address: </td>
                                        <td><input type="text" name="Address_delivery" required/></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>SDT </td>
                                        <td><input type="text" name="SDT_Cus" required/></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="submit" value="Checkout" class="btn btn-success" />
                                        </td>
                                    </tr>
                                </table>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="text-align:right">Sum Total:@Model.Total_Money()</td>
                        </tr>
                    </tfoot>
                </table>
                <a href="@Url.Action("Index","Home")">Continue to shopping</a>
            }

