@model DOAN_THWEB_NC.Models.Cart
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Chi tiết giỏ hàng</h2>

<div class="container w-50 bg-white">

    @if (Model != null)
    {
        foreach (var item in Model.Items)
        {
            double total = Convert.ToDouble(item._shopping_product.UnitPrice.Value * item._shoppping_quantity);
            <div class="row">
                <div class="col-4 border border-dark d-flex justify-content-center">
                    <img src="@Url.Content(item._shopping_product.Images)" style="width:150px;height:150px" />
                </div>

                <div class="col-8 border border-dark py-2">
                    <div class="nameProduct">
                        @Html.DisplayFor(model => item._shopping_product.NameProduct, "", new { @class = "fw-bold" })

                    </div>
                    <div class="priceProduct">
                        
                        <p class="m-0">@string.Format("{0:#,#}", item._shopping_product.UnitPrice).Replace(",", ",") VND</p>
                        @using (Html.BeginForm("Update_Quantity_Cart", "ShoppingCart"))
                        {
                            <input type="hidden" value="@item._shopping_product.IDProduct" name="ID_Product" />
                            <input type="number" value="@item._shoppping_quantity" name="Quantity" />
                            <input type="submit" value="Cập nhật số lượng" />
                        }

                    </div>

                    <div class="total">
                       
                        Giá tiền:  @string.Format("{0:#,#}", @total).Replace(",", ",") VND
                    </div>
                    <a class="text-danger fw-bold text-decoration-none" href="/ShoppingCart/RemoveCart/@item._shopping_product.IDProduct">Xóa khỏi giỏ hàng</a>

                </div>
            </div>


        }
<div class="container w-75 ">
    <div class="cus_detail mt-3">
        <p class="text-center fw-bold">THÔNG TIN KHÁCH HÀNG</p>

        <div class="user_info">
            @using (Html.BeginForm("Checkout", "ShoppingCart"))
            {

                
                <input type="text" name="Name_User" placeholder="Họ tên" class="w-100 p-2" required />

                <div class="mt-3">
                    <input type="text" name="Address_delivery" required class="w-50 p-2" placeholder="Địa chỉ" />
                    <input type="text" name="SDT_Cus" required class="w-49 p-2" placeholder="Số điện thoại" />
                </div>

                <p class="mt-3 d-flex justify-content-end text-danger fw-bold ">Tổng tiền:  @string.Format("{0:#,#}",@Model.Total_Money()).Replace(",", ",") VND</p>

                <div class=" d-flex justify-content-center py-4 ">
                <button type="submit" style="background-color:#C89063" class="btn w-100 shadow-none">
                    Thanh toán
                </button>
                </div>
            }
        </div>
        <a class="text-decoration-none text-black" href="@Url.Action("Index","Home")">Mua thêm sản phẩm khác</a>
    </div>
</div>
     
    }

</div>
