@model IEnumerable<DOAN_THWEB_NC.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách hãng điện thoại</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Hãng điện thoại
        </th>
        <th>
            Logo
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCategory)
            </td>
            <td>
                <img src="@Url.Content(item.ImagesCategory)" />
            </td>
            <td>
               <ul class="list-inline m-0">
                <li class="list-inline-item">
                <a href="@Url.Action("Edit", new {  id=item.IDCategories })">
                    <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa"><i class="fa fa-edit"></i></button>

                </a>

                </li>
                <li class="list-inline-item">
                    <a href="@Url.Action("Details", new {  id=item.IDCategories })">
                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Chi tiết"><i class="fa fa-table"></i></button>
                </a>
                </li>
                <li class="list-inline-item">
                    <a href="@Url.Action("Delete", new {  id=item.IDCategories })">
                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Xóa"><i class="fa fa-trash"></i></button>
                </li>
            </ul>
            </td>
        </tr>
    }

</table>
