@model IEnumerable<DOAN_THWEB_NC.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách hãng điện thoại</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Hãng điện thoại
        </th>
        <th>
            Logo
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCategory)
            </td>
            <td>
                <img src="@Url.Content(item.ImagesCategory)" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDCategories }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDCategories }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDCategories })
            </td>
        </tr>
    }

</table>
