@model IEnumerable<DOAN_THWEB_NC.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCategories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameCategory)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDCategories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameCategory)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDCategories }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDCategories }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDCategories })
            </td>
        </tr>
    }

</table>
<h2>@Html.ActionLink("Back", "Index", "Admin")</h2>