@model DOAN_THWEB_NC.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4></div>
            <div class="col-lg-4>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <h2 style="text-align:center">Login</h2>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.LabelFor(m => m.Email)
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                            @if (ViewBag.error != null)
                            {
                                @ViewBag.error
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div class="col-lg-6">
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <hr />
                    <input type="submit" value="Login" />

                }
            </div>
        </div>
    </div>
</body>

