@model DOAN_THWEB_NC.Models.User
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="bg-dark">

    <section class="vh-100 bg-dark">
        <div class="container mt-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">

                                <img src="~/Public/img/authImg/login.jpg"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:720px;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
                                {
                                    <div class=" text-black">

                                        <form>
                                            <div class="d-flex align-items-center mb-3 pb-1">
                                                <img src="~/Public/img/logo.png" style="width:180px; height:120px;" />
                                            </div>

                                            <h5 class="fw-normal pb-3" style="letter-spacing: 1px;">Khách hàng mới ? Đăng kí ngay</h5>

                                            @Html.AntiForgeryToken()
                                        <div class="form-outline mb-4">
                                            @Html.LabelFor(m => m.FirstName,"Họ khách hàng")
                                            @Html.TextBoxFor(m => m.FirstName, new {@class ="margins" })
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger fw-bold" })
                                        </div>

                                        <div class="form-outline mb-4">

                                            @Html.LabelFor(m => m.LastName, "Tên khách hàng")
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "margins" })
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger fw-bold" })
                                        </div>
                                        <div class="form-outline mb-4">
                                            @Html.LabelFor(m => m.Email)
                                            @Html.TextBoxFor(m => m.Email, new { @class = "marginss" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger fw-bold" })

                                            @if (ViewBag.error != null)
                                            {
                                                @ViewBag.error
                                            }
                                        </div>
                                        <div class="form-outline mb-4">
                                            @Html.LabelFor(m => m.Password, "Mật khẩu")
                                            @Html.PasswordFor(m => m.Password, new { @class = "marginc" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger fw-bold" })
                                        </div>
                                        
                                        <div class="form-outline mb-4">
                                            

                                        </div> 
                                            <div class="pt-1 mb-4">
                                                <input class="btn btn-dark btn-lg btn-block" type="submit" value="Đăng kí" />
                                            </div>

                                            <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                                Khách hàng cũ ?  <a href="/Home/Login" style="color: #393f81;">Đã có tài khoản rôi? </a>
                                            </p>


                                        </form>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
</body>