@model DOAN_THWEB_NC.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

double total = Convert.ToDouble(model.UnitPriceSale * model.Quantity);
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameUser)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addresss)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Giá tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPriceSale)
        </dd>

        <dt>
            Ngày mua
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
           Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameProduct)
        </dd>
        <dt>
            Tổng tiền
        </dt>
        <dd>
            
            total
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Product.NameProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.NameProduct)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDOrder }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
