@model IEnumerable<DOAN_THWEB_NC.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách đơn hàng</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Giá tiền
        </th>
        <th>
            Ngày mua
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Tên sản phẩm
        </th>
       
        <th>
            Chức năng
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addresss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
             <p class="m-0">@string.Format("{0:#,#}", item.UnitPriceSale).Replace(",", ",") VND</p> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameProduct)
        </td>
      
        <td>
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                <a href="@Url.Action("Edit", new {  id=item.IDOrder })">
                    <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa"><i class="fa fa-edit"></i></button>

                </a>

                </li>
                <li class="list-inline-item">
                    <a href="@Url.Action("Details", new {  id=item.IDOrder })">
                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Chi tiết"><i class="fa fa-table"></i></button>
                </a>
                </li>
                <li class="list-inline-item">
                    <a href="@Url.Action("Delete", new {  id=item.IDOrder })">
                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Xóa đơn hàng"><i class="fa fa-trash"></i></button>
                </li>
            </ul>
        </td>

    </tr>
}

</table>
