@model DOAN_THWEB_NC.Models.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div class="carousel-item active">
                <img srcset="@Url.Content(Model.Images)" alt="iphone" style="min-height: 400px" />
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">@Model.NameProduct</h3>

            <h3 class="fw-bold text-danger" >@Model.UnitPrice VND</h3>
            <p class="mb-4">@Model.Descriptions.</p>
                

            <div class="add-cart" style="justify-content:left">
                <h4><a href="/ShoppingCart/AddCart/@Model.IDProduct">Add to Cart</a></h4>
            </div>
        </div>
    </div>
    
</div>*@
<body class="bg-white">

    <div class="container mt-3">
        <p>
            @Html.MvcSiteMap().SiteMapPath(new { @class = "text-decoration-none" })
        </p>

        <div class="row">
            <div class="col-5 border border-danger">
                <img src="@Url.Content(Model.Images)" alt="" style="width:450px; height:450px;" />
            </div>
            <div class="col-7 border border-dark">
                <h3 class="font-weight-semi-bold">@Model.NameProduct</h3>

                <h3 class="fw-bold text-danger">@Model.UnitPrice VND</h3>
                <p class="mb-4">@Model.Descriptions.</p>


                <div class="add-cart" style="justify-content:left">
                    <h4><a class="text-decoration-none"href="/ShoppingCart/AddCart/@Model.IDProduct">Mua ngay</a></h4>
                </div>
            </div>
        </div>
    </div>
</body>

@*<table>
        <tr>
            <td>
                @Model.NameProduct
            </td>
        </tr>
        <tr>
            <td><img width="100px" height="100px" srcset="@Url.Content(Model.Images)" alt="iphone" /></td>
        </tr>
        <tr>
            <td>
                @Model.UnitPrice
            </td>
        </tr>
        <tr>
            <td>
                @Model.Descriptions
            </td>
        </tr>
        <tr>
            <td>
                <a href="/ShoppingCart/AddCart/@Model.IDProduct">
                    <img src="@Url.Content("~/Images/cart.png")" style="width:30px;height:30px" />
                </a>
            </td>
        </tr>
    </table>*@

