@model DOAN_THWEB_NC.Models.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="bg-white">

    <div class="container mt-3">
        <p>
            @Html.MvcSiteMap().SiteMapPath(new { @class = "text-decoration-none" })
        </p>

        <div class="row">
            <div class="col-5 border border-danger">
                <img src="@Url.Content(Model.Images)" alt="" style="width:450px; height:450px;" />
            </div>
            <div class="col-7 border border-dark">
                <h3 class="font-weight-semi-bold">@Model.NameProduct</h3>

                <h3 class="fw-bold text-danger">@string.Format("{0:#,#}", @Model.UnitPrice).Replace(",", ",") VND</h3>
                <p class="mb-4">@Model.Descriptions.</p>


                <div class="add-cart" style="justify-content:left">
                    <h4><a class="text-decoration-none" href="/ShoppingCart/AddCart/@Model.IDProduct">Mua ngay</a></h4>
                </div>
            </div>
        </div>
    </div>
</body>



